.footer {
  padding: 12px 0;
  width: 100%;
  // from public
  background-image: url("/assets/img/footer-bg-public.jpg");
  // from src - пока не нашел как использовать чтобы не падала сборка
}

.footer__text {
  text-align: center;
  font-size: size(20);
  color: $color-white;
  line-height: 1;
}
